.bikes__title {
  margin-bottom: 20px;
  text-align: center;
}

.bikes__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &--oliva {
    *:nth-child(1) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    *:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    *:nth-child(3) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--boriosa {
    *:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    *:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: -1; //первый с конца столбец
      grid-row-start: 1;
      grid-row-end: -1; //первый с конца ряд
    }

    *:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--hulot {
    *:nth-child(1) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    *:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    *:nth-child(3) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    *:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}

.bikes__wrapper {
  position: relative;
  padding: 100px 35px 90px 35px;

  // трегуольник
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
    z-index: 10;
  }
}

.bikes__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.bikes__image-wrapper {
  position: relative;

  // иконка на изображении
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--oliva {
    &::after {
      background-image: url("../img/logo-bicycle.png");
    }
  }

  &--boriosa {
    &::after {
      background-image: url("../img/logo-boriosa.png");
    }
  }

  &--hulot {
    &::after {
      background-image: url("../img/logo-hulot.png");
    }
  }
}

.bikes__text {
  font-size: 16px;
  line-height: 30px;
  position: relative;

  // полосочка
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #d7d7d7;
    left: calc(50% - 25px);
    bottom: -30px;
  }
}
