.content {
  background-color: $secondary-bg-color;
}

.content__centering {
  text-align: center;
  padding: 100px 20px;
}

.content__title {
  margin-bottom: 20px;
}

@media (min-width: $medium-min-width) {
  .content__centering {
    padding: 100px 50px;
  }
}

@media (min-width: $large-min-width) {
  .content__centering {
    @include desktop-centering;
    padding: 170px 100px 120px 100px;
  }
}
