.feedback__centering {
  @include desktop-centering;
  padding: 100px;
  padding-top: 220px;
  position: relative;
  text-align: center;
}

.feedback__logo {
  margin-top: 100px;
}

.feedback__title {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  font-weight: 400;
  color: $secondary-font-color;
  margin-bottom: 30px;
}

.feedback__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__input {
  padding: 20px 25px;
  width: 400px;
  font-size: 20px;
  color: #929292;
  opacity: 0.7;
  text-transform: lowercase;
  margin-right: 8px;
  border: 1px solid #d3d7d9;
}

.feedback__button {
  font-size: 24px;
  line-height: 25px;
  font-weight: 200;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $primary-color;
  border: none;
  padding: 20px 45px;
  cursor: pointer;
}
