.footer {
  background-color: $secondary-bg-color;
}

.footer__centering {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__address {
  margin-bottom: 30px;
}

.footer__text {
  font-size: 14px;
  color: $secondary-font-color;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2px;

  &:first-child {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: $secondary-font-color;
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 33.3333%;
}

.footer__social-link {
  svg {
    width: 51px;
    height: 50px;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: $tablet-min-width) {
  .footer__centering {
    padding: 95px 150px;
    flex-direction: row;
  }

  .footer__address {
    margin-bottom: 0;
    width: 33.3333%;
  }

  .footer__social-link {
    svg {
      width: 35px;
      height: 34px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .footer__centering {
    @include desktop-centering;
    padding: 95px 100px;
  }
}
