.navigation__list {
  display: flex;
  padding: 60px 20px;
  padding-top: 150px;
  justify-content: space-around;
}

.navigation__link {
  font-size: 12px;
  color: $third-font-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: $small-min-width) {
  .navigation__list {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 60px;
    justify-content: center;
  }

  .navigation__item {
    width: 23%;
    position: relative;

    &:nth-child(2),
    &:nth-child(3) {
      &::after {
        content: "";
        width: 2px;
        height: 2px;
        background-color: $third-font-color;
        position: absolute;
        bottom: 0;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(2) {
      margin-right: auto;

      &::after {
        left: -2.5em;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      text-align: right;
    }

    &:nth-child(3) {
      &::after {
        right: -2.5em;
      }
    }
  }
}

@media (min-width: $large-min-width) {
  .navigation__link {
    &:hover {
      color: $primary-color;
    }
  }
}
