.navigation__list {
  display: flex;
  padding: 60px 0;
}

.navigation__item {
  width: 15%;
  position: relative;

  &:first-child,
  &:last-child {
    &::after {
      content: "";
      width: 2px;
      height: 2px;
      background-color: $third-font-color;
      position: absolute;
      bottom: 0;
    }
  }

  &:nth-child(1) {
    margin-left: 5em;
    margin-right: 60px;
    text-align: left;

    &::after {
      right: -1em;
    }
  }

  &:nth-child(2) {
    text-align: left;
  }

  &:nth-child(3) {
    margin-left: auto;
    text-align: right;
  }

  &:nth-child(4) {
    margin-right: 5em;
    margin-left: 60px;
    text-align: right;

    &::after {
      left: -1em;
    }
  }
}

.navigation__link {
  font-size: 13px;
  color: $third-font-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: $desktop-min-width) {
  .navigation__list {
    padding: 60px 150px;
  }

  .navigation__item {
    &:nth-child(1) {
      margin-left: 20%;

      &::after {
        right: 10%;
      }
    }

    &:nth-child(4) {
      margin-right: 20%;

      &::after {
        left: 10%;
      }
    }
  }
}
