.reviews {
  background-color: $secondary-bg-color;
}

.reviews__centering {
  padding: 150px;
}

.reviews__slide {
  text-align: center;
}

.reviews__title {
  margin-bottom: 20px;
  text-transform: none;

  span {
    font-weight: 200;
    color: $secondary-font-color;
  }
}

.reviews__text {
  font-size: 24px;
  font-style: italic;
  color: $secondary-font-color;
}
