.reviews {
  background-color: $secondary-bg-color;
}

.reviews__centering {
  padding: 100px 150px 50px 150px;
}

.reviews__slider {
  margin-bottom: 50px;
}

.reviews__slide {
  text-align: center;
  padding-top: 60px;
}

.reviews__title {
  margin-bottom: 20px;
  text-transform: none;

  span {
    font-weight: 200;
    color: $secondary-font-color;
  }
}

.reviews__text {
  font-size: 24px;
  font-style: italic;
  color: $secondary-font-color;
}

.reviews__buttons {
  text-align: center;
}

.reviews__button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #a9afb3;
  margin-right: 9px;
  cursor: pointer;

  &--active {
    background-color: #a9afb3;
  }
}

@media (min-width: $desktop-min-width) {
  .reviews__centering {
    @include desktop-centering;
    padding: 150px 150px 50px 150px;
  }

  .reviews__slider {
    margin-bottom: 90px;
  }
}
