.shop {
  background-color: $third-bg-color;
  padding: 50px 20px;
}

.shop__centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop__link {
  width: 100%;
  max-width: 300px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #94979a;
  padding: 20px 35px;
  white-space: nowrap;
}

@media (min-width: $medium-min-width) {
  .shop {
    padding: 75px;
  }

  .shop__link {
    padding: 20px 65px;
  }
}

@media (min-width: $large-min-width) {
  .shop__centering {
    @include desktop-centering;
  }

  .shop__link {
    &:hover {
      border: 1px solid $primary-color;
    }
  }
}
