.text {
  font-size: 16px;
  color: $secondary-font-color;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: $medium-min-width) {
  .text {
    font-size: 18px;
    line-height: 34px;
  }
}
