.title {
  font-size: 18px;
  color: $primary-font-color;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;

  &::before {
    content: "";
    width: 54px;
    height: 54px;
    position: absolute;
    top: -60px;
    left: calc(50% - 27px);
    background-repeat: no-repeat;
  }

  &--logo-content {
    &::before {
      top: -70px;
      background-image: url("../img/icon-1.png");
    }
  }

  &--logo-oliva {
    &::before {
      background-image: url("../img/icon-2.png");
    }
  }

  &--logo-boriosa {
    &::before {
      background-image: url("../img/icon-3.png");
    }
  }

  &--logo-hulot {
    &::before {
      background-image: url("../img/icon-4.png");
    }
  }

  &--logo-twitter {
    &::before {
      background-image: url("../img/icon-twitter.png");
    }
  }
}
