$main-font: "Lato", arial, sans-serif;
$primary-color: #64c29e; //mint
$primary-font-color: #353738; //green
$secondary-font-color: #848789; //gray
$third-font-color: #4d4959; //purple
$primary-bg-color: #ffffff; //white
$secondary-bg-color: #f7f7f7; //light color
$third-bg-color: #282f35; //dark color
// $tablet-min-width: 768px;
$desktop-min-width: 1600px;
