@import "variables";
@import "fonts";
@import "mixins";
@import "centering";
@import "visually-hidden";
@import "title";
@import "text";
@import "navigation";
@import "bikes";

body {
  font-family: "Lato", arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
